<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Registro</title>
    <style>
        /* Aqui você pode adicionar estilos inline para o seu email, se necessário. */
        .container {
            padding: 20px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            max-width: 600px;
            margin: 40px auto;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>Olá, {{name}}!</h2> <!-- O nome do usuário é inserido aqui através da variável {{name}} -->
    <p>Obrigado por se registrar em nossa plataforma. Estamos felizes em tê-lo conosco!</p>
    <p>Seu registro foi efetuado com sucesso e encontra-se em análise. Em breve, você receberá mais informações sobre o status da sua conta.</p>
    <p>Se tiver alguma dúvida ou preocupação, não hesite em nos contatar.</p>
    <p>Atenciosamente,</p>
    <p>Projeto</p>
</div>

</body>
</html>
