<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Senha</title>
    <style>
        .container {
            padding: 20px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            max-width: 600px;
            margin: 40px auto;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>Olá, prezado!</h2>
    <p>Você solicitou a redefinição da sua senha. Por favor, clique no link abaixo para definir uma nova senha:</p>
    <a href="{{resetUrl}}">Redefinir Senha</a>
    <p>Se tiver alguma dúvida ou preocupação, não hesite em nos contatar.</p>
    <p>Atenciosamente,</p>
    <p>Projeto</p>
</div>

</body>
</html>
